#!/usr/bin/expect -f


set timeout 60
spawn setup-kolab
expect "Administrator password"
send "{{admin_password}}\r"
expect "Confirm"
send "{{admin_password}}\r"
expect "Directory Manager password"
send "{{admin_password}}\r"
expect "Confirm"
send "{{admin_password}}\r"
expect "User"
send "\r"
expect "Group"
send "\r"
expect "Please confirm this is the appropriate domain name space."
send "no\r"
expect "Domain name to use"
send "{{main_domain}}\r"
expect "dn you wish to use"
send "no\r"
expect "Root DN to use"
send "{{ldap_domain}}\r"
expect "Cyrus Administrator password "
send "{{admin_password}}\r"
expect "Confirm"
send "{{admin_password}}\r"
expect "Kolab Service password"
send "\r"
expect "Choice"
send "2\r"
expect "MySQL root password"
send "{{admin_password}}\r"
expect "Confirm"
send "{{admin_password}}\r"
expect "MySQL kolab password"
send "\r"
expect "Timezone ID"
send "Europe/Berlin\r"
expect "MySQL roundcube password"
send "\r"
expect "manticore.service."
send ""

exit 0
