#!/bin/bash
debconf-set-selections <<< "postfix postfix/mailname string {{ kolab_fqdn_hostname }} "
debconf-set-selections <<< "postfix postfix/main_mailer_type string 'Internet Site'"
debconf-set-selections <<< "mysql-server-5.5 mysql-server/root_password password {{ mysql_root_password }}"
debconf-set-selections <<< "mysql-server-5.5 mysql-server/root_password_again password {{ mysql_root_password }}"
debconf-set-selections <<< "mysql-server mysql-server/root_password password {{ mysql_root_password }}"
debconf-set-selections <<< "mysql-server mysql-server/root_password_again password {{ mysql_root_password }}"
